- name: "check({{deploy_mode}}): {{pbase}}/{{pname}}/python"
  stat:
    path: "{{pbase}}/{{pname}}/python"
  register: flow_dir_stat

- name: "mkdir({{deploy_mode}}): {{pbase}}/{{pname}}/{bin,conf}"
  file:
    path: "{{pbase}}/{{pname}}/{{item}}"
    state: directory
  with_items:
  - bin
  - conf

- name: "check({{deploy_mode}}): {{pbase}}/{{pname}}/{{role_name}}/python/fate_flow/fate_flow_server.py"
  stat:
    path: "{{pbase}}/{{pname}}/{{role_name}}/python/fate_flow/fate_flow_server.py"
  register: flow_stat

- name: "untar({{deploy_mode}}): fateflow.tar.gz"
  unarchive:
    src: "fateflow.tar.gz"
    dest: "{{pbase}}/{{pname}}"
  when: flow_stat.stat.exists == False

- name: "check({{deploy_mode}}): {{pbase}}/{{pname}}/{{pname}}/python/__init__.py"
  stat:
    path: "{{pbase}}/{{pname}}/{{pname}}/python/__init__.py"
  register: fate_stat

- name: "untar({{deploy_mode}}): fate.tar.gz"
  unarchive:
    src: "fate.tar.gz"
    dest: "{{pbase}}/{{pname}}"
  when: fate_stat.stat.exists == False

- name: "mkdir({{deploy_mode}}): {{lbase}}/{{pname}}/{{role_name}}"
  file:
    path: "{{lbase}}/{{pname}}/{{role_name}}"
    state: directory

- name: "delete({{deploy_mode}}): {{pbase}}/{{pname}}/{{role_name}}/logs"
  file:
    path: "{{pbase}}/{{pname}}/{{role_name}}/logs"
    state: absent
  when: flow_stat.stat.exists == False

- name: "link({{deploy_mode}}): {{lbase}}/{{pname}}/{{role_name}}"
  file:
    src: "{{lbase}}/{{pname}}/{{role_name}}"
    dest: "{{pbase}}/{{pname}}/{{role_name}}/logs"
    state: link
  when: flow_stat.stat.exists == False

- name: "link({{deploy_mode}}): {{pbase}}/{{pname}}/{RELEASE.md,fate.env,examples}"
  shell: "ln -frs '{{pbase}}/{{pname}}/{{pname}}/'{RELEASE.md,fate.env,examples} '{{pbase}}/{{pname}}'"
  args:
    executable: /bin/bash
    warn: False
