#!/bin/bash

#
#  Copyright 2019 The FATE Authors. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#

fate_project_base=$(cd `dirname "$(realpath "${BASH_SOURCE[0]:-${(%):-%x}}")"`; cd ../;pwd)
export FATE_PROJECT_BASE={{pbase}}/{{pname}}
export FATE_DEPLOY_BASE={{pbase}}/{{pname}}
venv={{pbase}}/{{pname}}/common/python/venv
source ${venv}/bin/activate
export PYTHONPATH={{pbase}}/{{pname}}/{{pname}}/python:{{pbase}}/{{pname}}/fateflow/python:{{pbase}}/{{pname}}/eggroll/python
export EGGROLL_HOME={{pbase}}/{{pname}}/eggroll
export FATE_LOG_LEVEL=DEBUG
export FATE_PROFILE_LOG_ENABLED=0
export JAVA_HOME={{jbase}}
export PATH=$PATH:$JAVA_HOME/bin
export EGGROLL_LOG_LEVEL=INFO
{% if default_engines == 'spark' %}
export HADOOP_HOME={{spark.get('hadoop_home','')}}
{% endif %}
