[program:{{pname}}-{{role}}]
command=/bin/bash {{pbase}}/{{pname}}/eggroll/bin/fate-eggroll.sh {{role}} starting
#environment=JAVA_HOME="{{jbase}}/",PYTHONPATH={{pbase}}/{{pname}}/python:{{pbase}}/{{pname}}/eggroll/python,EGGROLL_HOME="{{pbase}}/{{pname}}/eggroll",PATH="{{jbase}}/bin:{{pbase}}/{{pname}}/common/python/venv/bin:%(ENV_PATH)s",LOG_BASE={{lbase}}/{{pname}},CLASSPATH="$CLASSPATH:$CLASSPATH"
environment=PATH="{{jbase}}/bin:{{pbase}}/{{pname}}/common/python/venv/bin:%(ENV_PATH)s",CLASSPATH="$CLASSPATH:$CLASSPATH"
directory={{pbase}}/{{pname}}/eggroll/
user={{service['owner']}}
autorestart=true
redirect_stderr=true
logfile_maxbytes = 50MB
logfile_backups=10
stdout_logfile={{lbase}}/{{pname}}/eggroll/bootstrap.{{role}}.out
stderr_logfile={{lbase}}/{{pname}}/eggroll/bootstrap.{{role}}.err
loglevel=info


