{% if ansible_ssh_host in fate_flow.get('ips',[]) %}
{% for item in pulsar.get('route_table',{}) %}
{{item['id']}}:
{% for route in item.get('routes',{}) %}
  host: {{route['ip']}}
  port: {{route['port']}}
  sslPort: {{route['sslPort']}}
  proxy: "{{route['proxy']}}"
{% endfor %}
{% endfor %}
{% endif %}

default:
  proxy: "proxy.fate.org:443"
  domain: "fate.org"
  brokerPort: 6650
  brokerSslPort: 6651
