[mysqld]
port={{db['port']}}
basedir={{pbase}}/{{pname}}/{{mysql['path']}}/{{role_name}}-{{mysql['version']}}
datadir={{pbase}}/data/{{pname}}/mysql
socket={{pbase}}/{{pname}}/{{mysql['path']}}/{{role_name}}-{{mysql['version']}}/run/mysql.sock
max_connections=10000
max_connect_errors=1000
character-set-server=utf8
default-storage-engine=INNODB
default_authentication_plugin=mysql_native_password
mysqlx=0
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
[mysql]
default-character-set=utf8
[client]
port={{db['port']}}
default-character-set=utf8
socket={{pbase}}/{{pname}}/{{mysql['path']}}/{{role_name}}-{{mysql['version']}}/run/mysql.sock
[mysqld_safe]
log-error={{lbase}}/{{pname}}/mysql/mysqld.log
pid-file={{pbase}}/{{pname}}/{{mysql['path']}}/{{role_name}}-{{mysql['version']}}/run/mysqld.pid


