#!/bin/bash

echo "-----------Start cleaning up PIP temporary directory------------------"
echo "The directory to clean is: {{pbase}}/{{pname}}/{{python['pip']}} and {{pbase}}/{{pname}}/fate-python-{{ntimestamp}} ,Do you want to delete?"
read -t 30 -p "Please select your gender[yes/no]:" gender
if [ "$gender" == "yes" ]; then
  rm -rf {{pbase}}/{{pname}}/{{python['pip']}} {{pbase}}/{{pname}}/fate-python-{{ntimestamp}}
  echo "Cleaned up PIP temp directory"
elif [ "$gender" == "no" ]; then
  echo "Cleanup was not performed and no changes occurred"
else
  echo "Wrong parameter, please execute again"
fi
