
[eggroll]
#eggroll.resourcemanager.clustermanager.jdbc.driver.class.name=org.h2.Driver
eggroll.resourcemanager.clustermanager.jdbc.driver.class.name=com.mysql.cj.jdbc.Driver
#eggroll.resourcemanager.clustermanager.jdbc.url=jdbc:h2:./data/meta_h2/eggroll_meta.h2;AUTO_SERVER=TRUE;MODE=MySQL;DATABASE_TO_LOWER=TRUE;SCHEMA=eggroll_meta;
eggroll.resourcemanager.clustermanager.jdbc.url=jdbc:mysql://{{db.get('ips',['127.0.0.1'])[0]}}:{{db.get('port',3306)}}/{{eggroll.get('dbname','eggroll_meta')}}?useSSL=false&serverTimezone=UTC&characterEncoding=utf8&allowPublicKeyRetrieval=true
eggroll.resourcemanager.clustermanager.jdbc.username={{db.get('dbuser','fate')}}
eggroll.resourcemanager.clustermanager.jdbc.password={{db.get('dbpasswd','faet_dev')}}

eggroll.resourcemanager.clustermanager.host={{clustermanager.get('ips',['127.0.0.1'])[0]}}
eggroll.resourcemanager.clustermanager.port={{clustermanager.get('port',4670)}}
eggroll.resourcemanager.nodemanager.port={{nodemanager.get('port',4671)}}
eggroll.resourcemanager.process.tag=DEFAULT

# for roll site. rename in the next round
eggroll.rollsite.coordinator={{rollsite.get('coordinator','fate')}}
eggroll.rollsite.host={{rollsite.get('ips',['127.0.0.1'])[0]}}
eggroll.rollsite.port={{rollsite.get('port',9370)}}
eggroll.rollsite.party.id={{partyid}}
eggroll.rollsite.route.table.path=conf/route_table.json
eggroll.rollsite.route.table.key={{rollsite.get('route_table_key','fate')}}
eggroll.rollsite.route.table.whitelist=127.0.0.1
eggroll.rollsite.jvm.options=-XX:+UseG1GC -XX:+PrintGCDetails -XX:+PrintGCDateStamps -Xloggc:logs/eggroll/rollsite.gc.log


{% if rollsite.get('server_secure',false) in [ True, true ] or rollsite.get('client_secure',false) in [ True, true ] %}
eggroll.rollsite.lan.insecure.channel.enabled=true
eggroll.rollsite.secure.port={{rollsite.get('secure_port',9371)}}
{% endif %}

{% if deploy_role == 'host' %}
{% if rollsite.get('client_secure',false) in [ True, true ] %}
eggroll.core.security.client.ca.crt.path={{dbase}}/{{pname}}/keys/host-client-ca.pem
eggroll.core.security.client.crt.path={{dbase}}/{{pname}}/keys/host-client-client.pem
eggroll.core.security.client.key.path={{dbase}}/{{pname}}/keys/host-client-client.key
{% endif %}

{% if rollsite.get('server_secure',false) in [ True, true ] %}
eggroll.core.security.ca.crt.path={{dbase}}/{{pname}}/keys/host-ca.pem
eggroll.core.security.crt.path={{dbase}}/{{pname}}/keys/host-server.pem
eggroll.core.security.key.path={{dbase}}/{{pname}}/keys/host-server.key
{% endif %}

{% elif deploy_role == 'guest' %}
{% if rollsite.get('client_secure',false) in [ True, true ] %}
eggroll.core.security.client.ca.crt.path={{dbase}}/{{pname}}/keys/guest-client-ca.pem
eggroll.core.security.client.crt.path={{dbase}}/{{pname}}/keys/guest-client-client.pem
eggroll.core.security.client.key.path={{dbase}}/{{pname}}/keys/guest-client-client.key
{% endif %}

{% if rollsite.get('server_secure',false) in [ True, true ] %}
eggroll.core.security.ca.crt.path={{dbase}}/{{pname}}/keys/guest-ca.pem
eggroll.core.security.crt.path={{dbase}}/{{pname}}/keys/guest-server.pem
eggroll.core.security.key.path={{dbase}}/{{pname}}/keys/guest-server.key
{% endif %}
{% endif %}

{% if rollsite.get('polling',{}).get('enable',false) in [ True, true ] %}
eggroll.rollsite.polling.client.enabled=true
{% endif %}

eggroll.session.processors.per.node={{eggroll.get('egg',4)}}
eggroll.session.start.timeout.ms=180000
eggroll.rollpair.transferpair.sendbuf.size=250000



eggroll.data.dir={{pbase}}/data/{{pname}}/eggroll
eggroll.logs.dir={{lbase}}/{{pname}}/eggroll

eggroll.bootstrap.root.script=bin/eggroll_boot.sh

eggroll.resourcemanager.bootstrap.egg_pair.exepath=bin/roll_pair/egg_pair_bootstrap.sh
eggroll.resourcemanager.bootstrap.egg_pair.venv={{pybase}}
eggroll.resourcemanager.bootstrap.egg_pair.pythonpath={{pypath}}
eggroll.resourcemanager.bootstrap.egg_pair.filepath=python/eggroll/roll_pair/egg_pair.py
eggroll.resourcemanager.bootstrap.egg_pair.ld_library_path=

eggroll.resourcemanager.bootstrap.egg_frame.exepath=bin/roll_frame/egg_frame_bootstrap.sh
eggroll.resourcemanager.bootstrap.egg_frame.javahome={{jbase}}
eggroll.resourcemanager.bootstrap.egg_frame.classpath=conf/:lib/*:./jvm/core/target/classes:./jvm/core/target/lib/*:./jvm/roll_frame/target/classes:./jvm/roll_frame/target/lib/*
eggroll.resourcemanager.bootstrap.egg_frame.mainclass=com.webank.eggroll.rollframe.EggFrameBootstrap
eggroll.resourcemanager.bootstrap.egg_frame.jvm.options=

eggroll.core.grpc.channel.keepalive.timeout.sec=20

# roll_frame
arrow.enable_unsafe_memory_access=true

# hadoop
hadoop.fs.defaultFS=file:///

# hadoop HA mode
hadoop.dfs.nameservices=
hadoop.dfs.namenode.rpc-address.nn1=
hadoop.dfs.namenode.rpc-address.nn2=

eggroll.rollsite.push.max.retry=3
eggroll.rollsite.push.long.retry=2
eggroll.rollsite.push.batches.per.stream=10
eggroll.rollsite.adapter.sendbuf.size=100000


