import pymysql,sys

#if len(sys.argv) != 6:
#  print(f'Usage: {sys.argv[0]} ip port user password sql_file')
#  sys.exit(1)

db_host="{{db_host}}"
db_port={{db_port}}
user="{{admin_user}}"
passwd="{{admin_passwd}}"
db="{{db_name}}"
fname="{{fname}}"

def db_commit(sql):
  conn=None

  #print('-------0----------') 
  conn= pymysql.connect(host=db_host,port=db_port,user=user,password=passwd,database=db, charset="utf8")
  #print('-------2----------') 

  cur = conn.cursor()
  try:
    cur.execute(sql)
    conn.commit()
  except pymysql.Error as e:
    print('mysql.Error: ',e.args[0],e.args[1])  
    conn.rollback()
  conn.close()


def dbload(fname):
  temps=[]
  temp=""
  #fname='create-eggroll-meta-tables.sql'
  with open(fname,'rb') as f:
    N=-1                       #用N记录当前读取的行号(空行不算在内)
    f.seek(0,2)                #指针移动到文件末尾
    size=f.tell()              #此时指针的位置即文件末尾的位置
    f.seek(0,0)                #把指针移回文件开头
    while f.tell()<size:         #如果指针在size之前
        s=f.readline()         #用readline()读一行
        if s.strip()=='':      #如果读到的是空行
            continue           #跳过该行
        #print(type(s))
        ss=s.decode()
        if not ss.startswith('--'):
          tss=ss.replace('\n','')
          temp=f'{temp}{tss}'
          if ';' in tss:
            temps.append(temp)
            temp=""     
        N+=1
  for tmp in temps:
    print(tmp) 
    db_commit(tmp)

sql=f'CREATE DATABASE IF NOT EXISTS {db};'
db=""
db_commit(sql)
db="{{db_name}}"

dbload(fname)

