{
  "route_table":
  {
{% for party in rollsite.get('route_tables',[]) %}
    "{{party['id']}}":
    {
{% for item in party.get('routes',{}) %}
      "{{item['name']}}":[
        {
{% if rollsite.get('polling',{}).get('enable',false)  in [ True, true ] and party['id'] in rollsite.get('polling',{}).get('ids',[]) %}
          "is_polling": true,
{% endif %}
{% if item.get('is_secure',false) in [ True, true ] %}
          "is_secure": true,
{% endif %}
          "ip": "{{item['ip']}}",
          "port": {{item['port']}}
        }
{% if loop.last %}
      ]
{% else %}
      ],
{% endif %}
{% endfor %}
{% if loop.last %}
    }
{% else %}
    },
{% endif %}
{% endfor %}
  },
  "permission":
  {
    "default_allow": true
  }
}

