{
  "route_table":
  {
{% for party in rollsite.get('route_tables',[]) %}
    "{{party['id']}}":
    {
{% for item in party.get('routes',{}) %}
      "{{item['name']}}":[
        {
          "ip": "{{item['ip']}}",
          "port": {{item['port']}}
        }
{% if loop.last %}
      ]
{% else %}
      ],
{% endif %}
{% endfor %}
{% if loop.last %}
    }
{% else %}
    },
{% endif %}
{% endfor %}
  },
  "self_party":[
		"{{partyid}}"
	]
}

